@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(157, 222, 222);
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* display: block; */
}

#canvas1 {
    width: 900px;
    height: 500px;
    border: 4px soild black;
    /* background-color: burlywood; */
    background-image: url(./images/backgrounds/angelina-kichukova-1i6mrD_t9gA-unsplash.jpg);
    background-position: center;
    background-size: 100%;
}

