@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(157, 222, 222);
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* display: block; */
}

#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px soild black;
    background-color: burlywood;
}

button {
    color: saddlebrown;
    padding: 1rem;
    /* display: none; */
}
